@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Phenomena';
  src: local('Phenomena'), url(../public/fonts/Phenomena-Bold.otf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}



body {
  height: 100%;
  width: 100%;
  font-family: 'Phenomena';
}


